<form id="add-spending">
  <input type="text" placeholder="item bought">
  <input type="number" placeholder="cost">
  <input type="date" placeholder="date of expenditure">
  <button> Add Spending </button>
</form>
