<!-- Change Password -->
<button type="button" class="change-password" data-toggle="modal" data-target="#change-password-modal">Change Password</button>

<!-- Modal for changing password-->
<div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="changePasswordModalCenterTitle">Change Password</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id='change-password'>
                <input type="password" placeholder="Old Password" name="passwords[old]">
                <input type="password" placeholder="New Password" name="passwords[new]">
                <button class='modal-button'>Change Password</button>
              </form>
            </div>
          </div>
        </div>
      </div>

<!-- Sign-out -->
<button type="button" class="sign-out" data-toggle="modal" data-target="#sign-out-modal">Sign Out</button>

<!-- Modal for changing password-->
<div class="modal fade" id="sign-out-modal" tabindex="-1" role="dialog" aria-labelledby="signOutModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signOutModalCenterTitle">Sign Out</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5> Are you sure? </h5>
        <button id="sign-out" class='modal-button'>Sign Out</button>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<!-- How to Use -->
<button type="button" class="instructions" data-toggle="modal" data-target="#instructions">How to Use</button>

<!-- Modal for changing password-->
<div class="modal fade" id="instructions" tabindex="-1" role="dialog" aria-labelledby="InstructionsModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="InstructionsModalCenterTitle">How to Use</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5> Thank you for using <strong> Dollary! </strong> <br><br>
          Envelopes are where you keep your spending logs each month. <br> Create the envelope with the current month, year and your budget, then you're free to open it and add your spendings! <br> <br>
          Spendings can be added in each envelope and the money left in your budget will be calculated for you. <br> <br>

          Happy budgeting!
        </h5>
      </div>
    </div>
  </div>
</div>
