$title-color: #92AE5A;
$dollar: #FFD700;


.dollary {
  font-family: 'Paytone One', sans-serif;
  font-weight: 300;
  display: block;
  font-size: 5rem;
  color: white;

  span{
    display: inline-block;
    text-align: center;
    border-radius: 50%;
  }
}

.animated {
  animation: blink 2.5s infinite;
}

@keyframes blink {
  0% {text-shadow: 1px 1px 5px #FFD700;}
  40%{text-shadow: 0 0 20px #FFD700, 1px 1px 20px #FFD700, 2px 2px 20px #FFD700, -1px -1px 20px #FFD700, -2px -2px 20px #FFD700;}
}

@keyframes purplePulse {
  from { background-color: #8B008B; -webkit-box-shadow: 0 0 9px	#DDA0DD }
  50% { background-color:	#b100b1; -webkit-box-shadow: 0 0 18px	#E6E6FA }
  to { background-color: 	#8B008B; -webkit-box-shadow: 0 0 9px	#DDA0DD }
}
