@import '~bootstrap/scss/bootstrap';
@import 'animations.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Paytone+One&display=swap');

$montserrat: 'Montserrat', sans-serif;
$button-color: #FFFFE0;
$modal-color: #922B63;

html {
  height: 100%;
  margin: auto;
  overflow: scroll;
}

h4, h3 {
  margin: 1rem;
  text-align: center;
}

body {
  color: #FFFFFF;
  font-family: $montserrat;
  background-image: url('https://i.imgur.com/hLaEdez.jpg');
  padding-right: 0 !important;
  margin: 0;

  #content {
    text-align: center;
    img {
      margin-top: 2rem;
    }
  }

  #auth-message {
    margin-top: 2.6rem;
    padding: 1.5rem;
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, .2)
  }

  .modal {
    color: $modal-color;
    font-family: $montserrat;
    h5 {
      margin: 2rem;
    }
    .modal-title {
      font-size: 2rem;
      margin: 1rem;
    }
    form {
      input {
          margin: .5rem;
        }
      .modal-button {
          background-color: $button-color;
          &:hover {
            transition-duration: .2s;
            background-color: $title-color;
          }
        }
      }
    }

  #sign-out.modal-button {
    background-color: $button-color;
    &:hover {
      transition-duration: .2s;
      background-color: $title-color;
    }
  }

  #create-envelope-div {
    text-align: center;
    button {
      margin: 1rem;
      padding: .5rem;
      border-radius: 15px;
      background-color: $button-color;
      &:hover {
        transition-duration: .2s;
        background-color: $title-color;
      }
    }
  }

  #create-envelope-modal,
   #edit-envelope-modal,
   #add-spending-modal {
    text-align: center;
    p {
      margin: 0;
    }
    input {
      width: 50%;
    }
    button {
      padding: .5rem;
      border-radius: 15px;
      background-color: $button-color;
      &:hover {
        transition-duration: .2s;
        background-color: $title-color;
      }
    }
    select {
      margin: .5rem;
      margin-bottom: 1rem;
    }
  }

  #envelopes {
    display: flex;
    flex-wrap: wrap;
    .envelope {
      text-align: center;
      cursor: pointer;
      margin: 1.5rem;
      color: white;
      font-family: $montserrat;
      padding: 1.2rem;
      border: solid 3px;
      border-color: white;
      background-color: rgba(255, 255, 255, 0.2);
      &:hover {
        transition-duration: .5s;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 1.4rem;
      }
      h6 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
      }
      button.delete-envelope {
        font-size: .75rem;
        padding: .5rem;
      }
    }
  }
}

.envelope-buttons {
  text-align: center;
  button.edit-envelope,
  .add-spending,
  #clear-envelopes {
    margin: 1.5rem;
    padding: .75rem;
    border-radius: 10px;
    color: #FFFFFF;
    border-color: rgba(255, 255, 255, .5);
    background-color: #8B008B;
    &:hover {
      animation: purplePulse 3s infinite;
    }
  }
}

.spending-log {
  h2 {
    margin: 1rem;
  }
  .spending {
    height: 5rem;
    border-bottom: solid 3px;
    border-top: solid 3px;
    margin-bottom: -3px;
    display: flex;
    .spending-info {
      display: flex;
      justify-content: space-between;
      width: 70vw;
    }
    h6 {
      margin: 1rem;
      padding: 0;
    }
    #spending-button {
      display: flex;
      justify-content: flex-end;
      width: 30vw;

      button {
        right: 1rem;
        margin: 1rem;
        font-size: .7rem;
      }
    }
  }
}

.envelope-header > h2 {
  margin: 1rem;
}

header {
  text-align: center;
  h1 {
    font-size: 5rem;
    margin: 3rem;
    margin-bottom: 0;
  }
  h4 {
    margin: 2rem;
    font-weight: bold;
  }
  button {
    background-color: $button-color;
    font-family: $montserrat;
    margin: 0 1.5rem;
    line-height: 34px;
    padding: 0 2rem;
    border-color: $title-color;
    border-radius: 15px;
    transition-duration: .2s;
    &:hover {
      background-color: $title-color;
    }
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 8rem;    /* Footer height */
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .4);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7rem;
  padding: 2rem;
  a {
    margin: 0 1rem;
    text-align: center;
    text-decoration: none;
    p {
      color: white;
      margin: .6rem;
    }
    &:hover {
      text-shadow: 1px 1px 10px white;
    }
  }
  img {
    margin-top: 8px;
    height: 3.5rem;
  }
}

@media (max-width: 575px) {
  .dollary {
    font-size: 12vw;
  }
}
