@import '~bootstrap/scss/bootstrap';
@import 'animations.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Paytone+One&display=swap');

$montserrat: 'Montserrat', sans-serif;
$button-color: #FFFFE0;
$modal-color: #922B63;

html {
  height: 100%;
  margin: auto;
  overflow: scroll;
}

body {
  color: #FFFFFF;
  font-family: $montserrat;
  background-image: url('https://i.imgur.com/hLaEdez.jpg');
  padding-right: 0 !important;
  margin: 0;

  #auth-message {
    margin-top: 2.6rem;
    padding: 1.5rem;
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, .2)
  }

  .modal {
    color: $modal-color;
    font-family: $montserrat;
    h5 {
      margin: 2rem;
    }
    .modal-title {
      font-size: 2rem;
      margin: 1rem;
    }
    form {
      input {
          margin: .5rem;
        }
      .modal-button {
          background-color: $button-color;
          &:hover {
            transition-duration: .2s;
            background-color: $title-color;
          }
        }
      }
    }

  #sign-out.modal-button {
    background-color: $button-color;
    &:hover {
      transition-duration: .2s;
      background-color: $title-color;
    }
  }
  #create-envelope-div {
    text-align: center;
    button {
      padding: .5rem;
      border-radius: 15px;
      background-color: $button-color;
      &:hover {
        transition-duration: .2s;
        background-color: $title-color;
      }
    }
  }

  #envelopes {
    display: flex;
    flex-wrap: wrap;
    .envelope {
      margin: 1.5rem;
      color: white;
      font-family: $montserrat;
      padding: 1.2rem;
      border: solid 3px;
      border-color: white;
      background-color: rgba(255, 255, 255, 0.2);
      &:hover {
        transition-duration: .5s;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 1.4rem;
      }
      h6 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}

header {
  text-align: center;
  h1 {
    font-size: 5rem;
    margin: 3rem;
    margin-bottom: 0;
  }
  h4 {
    margin: 2rem;
    font-weight: bold;
  }
  button {
    background-color: $button-color;
    font-family: $montserrat;
    margin: 0 1.5rem;
    line-height: 34px;
    padding: 0 2rem;
    border-color: $title-color;
    border-radius: 15px;
    transition-duration: .2s;
    &:hover {
      background-color: $title-color;
    }
  }
}
